# Initial pose parameters
q_base_init = "-1.8";
q_waist_init = "2.79";
q_torso_init = "0.0";
q_kinect_init = "0.0";
q_left_arm_init = "  1.130 -1.000  0.000 -1.570 -0.000  1.000  -1.104";
q_right_arm_init = " -1.130  1.000 -0.000  1.570  0.000 -1.000  -0.958";

# To have initial pose as a balanced pose or not
init_with_balance_pose = "false";
